<div class="col-10 offset-1">
  <h1> About Splurty </h1>
  <p> 
    splurty is recreated by <a target="_blank" href="https://github.com/mehdias">Mehdi</a> in Tracy, CA. He wishes that the he expand the app further and make it useful. </p>
    <br />
    <p> with more functionalities this app will find its way amongst the best apps in the world and everyone would use it to share thoughts and pass motivation to eachother.
    </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'm.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Mohammad Mehdi</h2>
      <br />
      <p> Mehdi has studied business administration and currently pursuing a career in web development. He wants to become a Ruby on Rails Developer and be profecient in Javascript and Node.js. he loves build meaningful applications on the web. </p>
      
    </div>
  </div>
  <br class= "clear" />
    

</div>
