<h2>
  <span>QUOTE / No. <%= @quote.id %></span>

</h2>


<h1> <%= @quote.saying%></h1>
<h2 class="float-right">- <%= @quote.author%></h2>

<br class="clear" />
<br />
<br />

<br />
Quotes Archive:
  <% @quotes.each do |quote| %>
    <%= link_to quote.id, quote_path(quote) %>
  <% end %>
</div>

<br />
<br />

