<h2>
  <span>QUOTE / No. <%= @quote.id %></span>

</h2>

saying:<br />
<%= @quote.saying %>
<br />
author: <br />
<%= @quote.author %>
<br />
<br />
<br />


<%= link_to 'home', root_path %>